  h1 {
    font-size: 32pt;
    }

  p#choice1, p#choice2, p#choice3, p#choice4, p#choice5, p#choice6 {
    font-size: 18pt;
    text-decoration: none;
  }
  
  a {
    font-size: 16pt;
    text-decoration: none;
  }
  
  p {
    font-size: 18pt;
  }
  


  body { 
    background-color: #999;
  }

  main {
    margin-right: 50px;
    padding-right: 50px;
  }  
  
  img.pic {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .titleText {
    margin: 0;
    background: orange;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
 
  #guess {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 50pt;
    font-size: 36pt;
  }

  #orcAttack {
    color: green;
  }
  #Choice2 {
    color: red;
  }

  #Choice3 {
    color: brown;
  }

  #Choice4 {
    color: blue;
  }

  #Choice5 {
    color: green;
  }

  #Choice6 {
    color: purple;
  }

  
	#narrator {
		color: black;
	}


	#choiceDialog {
		color: teal;
	}
  

	#battle {
		font-size: 16 pt;
	}  
  

	#playerAttack {
		color: blue;
	}

  
	#orcAttack {
		color: green;
	}

  
	#wizardAttack {
		color: red;
	}
  
#wrapper {
	border-radius: 5px;
	box-shadow: 5px 5px 5px #555;
	margin: 0;
	width: 90%;
}

/* computer monitor size */
@media only screen and (min-width: 960px) { 

	#wrapper {
		border-radius: 5px;
		box-shadow: 5px 5px 5px #555;
		overflow: hidden;
		width: 90%;
	}

}

	/* small monitor to tablets */
@media only screen and (min-width: 768px) and (max-width: 959px) {


	#wrapper {
		padding-right: 0px;
		margin-right: 0px;
		width: 100%;
		margin-left: 25px;
	}
	
  #picture img {
    width: 100%;
    height: auto;
  }
  
  p#choice1, p#choice2, p#choice3, p#choice4, p#choice5, p#choice6 {
    font-size: 21pt;
  }
  
  p {
    font-size: 18pt;
  }
  
  a {
    font-size: 32pt;
    text-decoration: none;
  }

  
  img.pic {
    width: 100%;
    height:auto; 
  }
  
  img#end{
    width: 100%;
    height: auto;
  }

}  
  
/*tablet and smaller*/
@media only screen and (max-width: 767px) { 


	#wrapper {
		width: 100%;
	}
  
  p {
    font-size: 18pt;
  }
  

  
  p#choice1, p#choice2, p#choice3, p#choice4, p#choice5, p#choice6 {
    font-size: 21pt;
    text-decoration: none;
  }
  
  #picture img {
    width: 100%;
    height: auto;
  }

  img#end{
    width: 100%;
    height: auto;
  }
  
  img.pic {
    width: 100%;
    height:auto;
  }
  
  a {
    font-size: 32pt;
    text-decoration: none;

  }
  

    .titleText {
    font-size: 24;
    margin: 0;
    background: orange;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  
	
}

